{% extends 'tools.html' %}


{% block right %}

<form class="normalForm" id="importForm" action="/tools/import" enctype="multipart/form-data" method="post" >
    <label>
        <span>Please Choose file:</span>
        <input id="importfile" name="file" type="file"/>
    </label>
    <label>
        <span>Table Name:</span>
        <input id="inputtablename" name="tablename" type="text" />
    </label>
    <label>
        <span>&nbsp;</span>
        <button class="button"  onclick="imp_excel_to_table()">Import</button>
    </label>
</form>

    
    
{%  endblock %}
