.cutoverBorder  {
    margin-top: 6px;
    border: solid black 1px;
    padding-top:10px;
    padding-left: 10px;
    position: relative;
    width: 200px;
    background-color: cornsilk;
}


.issue_report {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #a9c6c9;
    border-collapse: collapse;
    width: 200px;
}

.issue_report th {
    border-width: 1px;
    background-color: #0393d3;
    padding: 3px;
    border-style: solid;
    border-color: #a9c6c9;
}
.issue_report td {
    border-width: 1px;
    padding: 3px;
    border-style: solid;
    border-color: #a9c6c9;
}