body {
  background-color: azure;
  text-align: center;
}
.alert {
  position: relative;
  padding: 7px;
  margin: 7px 0;
  border: 1px solid transparent;
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
  border-radius: 5px;
}
.login {
  width: 400px;
  height: 540px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
}
#loginform {
  padding: 30px;
  border: 1px solid transparent;
  text-align: center;
}
.logintitle {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.loginformitem {
  padding: 0;
  border: 1px solid #666;
  border-radius: 3px;
  margin: 10px 0 ;
  flex-direction: column;
  height: 44px;
  width: 340px;
  display: block;
}
/* #loginbutton {
  background-color: #3B78DD;
  text-align: center;
  vertical-align: middle;
} */

.button {
  background: #3B78DD;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #FFF;

  box-shadow: 1px 1px 5px #B6B6B6;
  border-radius: 3px;
  text-shadow: 1px 1px 1px #9E3F3F;
  cursor: pointer;
  padding: 0;
  height: 44px;
  width: 340px;
 
  }
.button:hover {
  background: #CF7A7A
  }

input[name=username] {
  background-image: url('{{ url_for ( "static", filename="suolong.ico") }}');
}
