{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for ('static',filename="css/index.css")}}">
<script type="text/javascript" src="{{ url_for ('static',filename="js/index.js") }}" ></script>
{% endblock%}
{%  block main %}
    {% block  container  %}
    <table class="dashborad_r1">
        <thead>
            <tr>
                <th>Cutover Days</th>
                <th>Issue Report</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="cutoverBorder">
                        <span>Cutover Date: </span> <input id="edate" onchange="time_cal()" type="date" value="2021-12-18">
                        <p> Cutover <span id="codays"></span> Days</p>
                    </div>
                </td>
                <td>
                    <div id="issue_report" >
                    </div>
                </td>
                <td></td>
            </tr>
        </tbody>
       
    </table>
        
      
        
    {% endblock %}

    {% block js %}
    
        
    {% endblock %}
{%  endblock %}