{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for ('static',filename="css/issue.css")}}">
<script type="text/javascript" src="{{ url_for ('static',filename="js/issue.js") }}" ></script>
{% endblock%}
{%  block main %}
    
    {% block  left  %}
            <ul class="">
                <li><a href="#" onclick="show_status_issue('Open')" >Issue List<span style="font-size: 5px;"> (Excel)</span></a></li>
                <li><a href="#" onclick="show_status_issue_v1('Open')" >Issue List<span style="font-size: 5px;"> (DB)</span></a></li>
            </ul>
        <div class="fastissue leftnav-item" >
            <form class="fastform" action="/issue" method="POST" enctype="multipart/form-data">
                <input class="fastform-item" id="title_text" type="text" placeholder="Input Issue Title" name="title">
                <div class="conditionbox">
                    <select class="fastform-item"  id="severity" name="severity">
                        <option value="Critical">Critical</option>
                        <option value="Major">Major</option>
                        <option value="Minor" selected>Minor</option>
                    </select>
                    <select class="fastform-item"  id="type" name="issue_type">
                        <option value="issue">issue</option>
                        <option value="task" selected>task</option>
                        <option value="requirement">requirement</option>
                        <option value="change">change</option>
                        <option value="risk">risk</option>
                    </select>
                </div>
                <button class="fastform-item"  id="fastform-button" type="submit">Fast Create Issue</button>
            </form>

            <div class="leftnav-item issue-up">
                <!-- 在WINDOWS上不能加磁盘路径，chorme会直接报错Not allowed to load local resource，将D:/去掉后在js里添加  -->
                <a class="issue-item"  onclick="openlocal_file('Issues/LBY_Issue_List_LiHanmin_2021.xlsx')" >
                    <img src="{{ url_for('static', filename='img/excel.svg' ) }}" style="height: 15px;"> issue list
                </a>  
                <a class="issue-item" onclick="openlocal_path('Issues/')">
                    <img src="{{ url_for('static', filename='img/folder.svg' ) }}" style="height: 15px; "> Issue path
                </a>
            </div>
            <div class="issue-item leftnav-item">
                {{ lb_open_file | safe}}
            </div>
            
        </div>

    {% endblock %}

    {% block right %}
    <div class="statusCollettion">
        <a href="#" onclick="show_status_issue('all')">All</a>
        <a href="#" onclick="show_status_issue('Open')">Open</a>
        <a href="#" onclick="show_status_issue('Closed')">Closed</a>
        <a href="#" onclick="show_status_issue('Pending')">Pending</a>
        <input type="text" id="myInput" onkeyup="tableContentSearch('myInput','issue_list')" placeholder="Search...">
    </div>
        <div class="issues" id="issues">
            
        </div>
        <div class="tablePageButton">
            <button type="button" id="pageUp" onclick="PreTablepage()" >Pre</button>
            <button type="button" id="pageDown" onclick="NextTablepage()" >Next</button>
        </div>

        <div class="issues_db" id="issues_db">
        </div>        
        <textarea id="html_show_box"  class="html_show_box" onfocus="box_onfocus()" onblur="box_onblur()">
        </textarea>
        <button id="edit_show_box"   onfocus="box_onfocus()" onblur="box_onblur()" >Edit</button>
        <div class="basic-grey" id="issue_edit" style="display: none;">
            <form id="edit_form" action="/api/issues/saveedit" method="post" enctype="multipart/form-data">
                <label style="display: none;">
                    <span>ID :</span>
                    <input type="text" name="id" placeholder="" />
                </label>
                <label>
                    <span>Title :</span>
                    <input  type="text" name="title" readonly="readonly" placeholder="" />
                </label>
                <label>
                    <span>Create Time :</span><input   type="text" name="createtime" readonly="readonly" placeholder="" />
                </label>                
                <label>
                    <span>Severity :</span><select   name="priority">
                        <option value="Critical">Critical</option>
                        <option value="Major">Major</option>
                        <option value="Minor" selected>Minor</option>
                    </select>
                </label>
                <label>
                    <span>Type :</span><select   name="type">
                        <option value="issue">issue</option>
                        <option value="task" selected>task</option>
                        <option value="requirement">requirement</option>
                        <option value="change">change</option>
                        <option value="risk">risk</option>
                    </select>
                </label>
                <label>
                    <span>Status :</span><select name="status">
                        <option value="Open">Open</option>
                        <option value="Closed">Closed</option> 
                        <option value="Pending">Pending</option> 
                    </select>
                </label>
                <label>
                    <span>Description :</span></span><textarea name="description" id="" ></textarea>
                </label>
                <label>
                    <span>&nbsp;</span>
                    <input type="button" class="button" value="Cancel" onclick="cancel_edit()" />
                    <input type="submit" class="button" value="Save" />
                    
                </label>
                
            </form>

           
        </div>
    {% endblock %}


{%  endblock %}