{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for ('static',filename="css/knowledge.css")}}">
<script type="text/javascript" src="{{ url_for ('static',filename="js/knowledge.js") }}" ></script>
{% endblock%}
{%  block main %}
    
    {% block left  %}
    <a href="">OCS</a>
    <a href="">CRM</a>
    {% endblock %}

    {% block right %}
    <div class="statusCollettion" id="search">
    </div>
    <div class="showtable" ></div>
    {% endblock %}


{%  endblock %}