{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for ('static',filename="css/knowledge.css")}}">
<script type="text/javascript" src="{{ url_for ('static',filename="js/knowledge.js") }}" ></script>
{% endblock%}
{%  block main %}
    
    {% block left  %}
    <ul>
        {% for i in pathList %}
         <li onclick="show_knowledge('{{ i }}')"><a> {{ i }} </a></li>
         {% endfor %}
    </ul>

    {% endblock %}

    {% block right %}
    <div class="knowledge" id="knowledgelist" ></div>
    {% endblock %}


{%  endblock %}