{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for ('static',filename="css/sysConfig.css") }}">
<script type="text/javascript" src="{{ url_for ('static',filename="js/sysConfig.js") }}" ></script>
{% endblock %}



{% block left %}
<ul class="">
    <li><a href="/sysConfig" >sysConfig</a></li>
</ul>
{% endblock %}

{% block right %}

<form class="syscfgForm" id="syscfgForm" action="" method="POST">
    <!-- <div class="form-item">
        <label for="issuepath">issue path:</label>
        <input id="issuepath" name="issuepath" type="text" value="{{ is_path}}">
    </div> -->
    <label>
        <span>issue path:</span>
        <input id="issuepath" name="issuepath" type="text" value="{{ is_path}}">
    </label>
    <label>
        <span>issue list file(excel):</span>
        <input id="issuelist" name="issuelist" type="text" value="{{ is_list}}">
    </label>
    <label>
        <span>OS type:</span>
        <input id="ostype" name="ostype" type="text" value="{{ os_type}}">
    </label>
    <label>
        <span>&nbsp;</span>
        <button class="button" type="submit" onclick="updateSysConfig()">Save</button>
    </label>
    
</form>
    
{%  endblock %}
