{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for ('static',filename="css/tools.css") }}">
<script type="text/javascript" src="{{ url_for ('static',filename="js/tools.js") }}" ></script>
{% endblock %}



{% block left %}
<ul class="">
    <li><a href="/tools/cdr" >CDR convert</a></li>
    <li><a href="/tools/cdrCfg" >CDR config</a></li>
    <li><a href="" onclick="imp_issue_from_excel()">Import Iussue</a></li>
    <li><a href="" onclick="exp_issue_to_excel()" >Export Issue</a></li>
    <li><a href="#"> DailyCheck</a></li>
</ul>
{% endblock %}

{% block right %}

 <input type="file" name="" id="">
    
{%  endblock %}
